/* HOMEPAGE */

.title {
    background-color: aqua;
    font-family: "Courier New";
    font-size: 45px;
}

.rec {
    font-family: "Courier New";
    font-size: 35px;
    background-color: lightpink;
}

h2 {
    font-size: 30px;
    background-color: pink;
}

h3 {
    font-size: 25px;
    background-color: lightpink;
}

p {
    font-size: 18px;
}

li {
    font-size: 18px;
}






/* OATS */

/* LOBSTER */

/* BROCCOLI SOUP */